*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.topo{
    background:#1e293b;
    padding:20px 6%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 15px rgba(0,0,0,.4);
}

.topo h1{
    color:#8b5cf6;
    font-size:32px;
}

.voltar{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:.3s;
}

.voltar:hover{
    color:#8b5cf6;
}

.banner{
    background:linear-gradient(
        135deg,
        #1e293b,
        #8b5cf6
    );

    padding:80px 6%;
    text-align:center;
}

.banner h2{
    font-size:50px;
    margin-bottom:15px;
}

.banner p{
    font-size:20px;
    color:#ddd;
}

.produtos{
    padding:60px 6%;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:25px;
}

.produto{
    background:#1e293b;

    border:1px solid #334155;

    border-radius:20px;

    padding:25px;

    text-align:center;

    transition:.3s;
}

.produto:hover{
    transform:translateY(-8px);

    border-color:#8b5cf6;

    box-shadow:0 0 20px rgba(139,92,246,.4);
}

.produto img{
    width:200px;
    height:200px;
    object-fit:contain;
    margin-bottom:20px;
}

.produto h3{
    margin-bottom:10px;
    color:white;
}

.produto span{
    display:block;
    margin:15px 0;
    font-size:28px;
    font-weight:bold;
    color:#8b5cf6;
}

.produto button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#8b5cf6;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.produto button:hover{
    background:#7c3aed;
}

@media(max-width:768px){

    .topo{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .banner h2{
        font-size:34px;
    }

    .banner p{
        font-size:16px;
    }

    .produto img{
        width:150px;
        height:150px;
    }

}